In [24]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
import math

In [4]:
df = pd.read_csv('../data/raw/Bing-COVID19-Data.csv')

In [6]:
df.head()

,ID,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
0,338995,01/21/2020,262,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
1,338996,01/22/2020,313,51.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
2,338997,01/23/2020,578,265.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
3,338998,01/24/2020,841,263.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
4,338999,01/25/2020,1320,479.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN

In [9]:
df_uk = df[df['Country_Region'] == 'United Kingdom']

In [14]:
df_uk['Updated'] = df_uk['Updated'].apply(lambda entry: dt.datetime.strptime(entry,'%m/%d/%Y'))

C:\Users\U45720\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df_uk['Updated'] = pd.to_datetime(df_uk['Updated'], errors='ignore')

C:\Users\U45720\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
df_uk.head()

,ID,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
61438,7157906,2020-01-31,2,NaN,0.0,NaN,NaN,NaN,53.94384,-2.55056,GB,GBR,United Kingdom,NaN,NaN
61439,7157907,2020-02-01,2,0.0,0.0,0.0,NaN,NaN,53.94384,-2.55056,GB,GBR,United Kingdom,NaN,NaN
61440,7157917,2020-02-02,2,0.0,0.0,0.0,NaN,NaN,53.94384,-2.55056,GB,GBR,United Kingdom,NaN,NaN
61441,7157919,2020-02-03,2,0.0,0.0,0.0,NaN,NaN,53.94384,-2.55056,GB,GBR,United Kingdom,NaN,NaN
61442,7157920,2020-02-04,2,0.0,0.0,0.0,NaN,NaN,53.94384,-2.55056,GB,GBR,United Kingdom,NaN,NaN

In [46]:
regions_1 = [value for value in df_uk['AdminRegion1'].unique() if str(value) != 'nan']
regions_2 = [value for value in df_uk['AdminRegion2'].unique() if str(value) != 'nan']

In [47]:

@interact
def plot_cases(region1 = widgets.Dropdown(options = regions_1, description = "Choose class Admin Region 1" ) , region2 = widgets.Dropdown(options = regions_2, description = "Choose class Admin Region 2" )):
    
    _df = df_uk[df_uk['AdminRegion1'] == region1]
    _df = _df[_df['AdminRegion2'] == region2]
    fig, ax = plt.subplots(1,1, figsize=(10,10))
    ax.plot(_df['Updated'].values, _df['Confirmed'].values)

interactive(children=(Dropdown(description='Choose class Admin Region 1', options=('England', 'Northern Irelan…